*{
	font-family: 'Segoe UI';
	
}
body{
	width: 960px;
	margin: 0 auto;
	background: #002238;
	color: #ffffff;
}

.header{
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center; /*Alinhamento de intens no eixo vertical(y)*/
	justify-content: space-between; /*Alinhamento de intens no eixo(x)*/
}

.header > input{
	width: 300px;
	height: 40px;
	padding: 0 10px;
	border-style: none;
	border-radius: 30px;
}

.links > a{
	color: #ffffff;
	text-decoration: none;
	margin-right: 20px;
}

.links > a:nth-child(3){
	font-weight: 700;
}

.links > a:hover{
	text-decoration: underline;
}

.footer{
	width: 100%;
	height: 200px;
	background-color: #01304f ;
	display: flex;
}

.footer-left{
	width: 50%;
	padding: 20px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

#mail,
#insta{
	text-decoration: none;
	color: #fff;
}

#mail:hover,
#insta:hover{
	text-decoration: underline;
}

.footer-right{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 10px 20px;
}

.footer-right > textarea{
	width: 95%;
	height: 50%;
	padding: 10px;
}

.footer-right > button{
	width: 50%;
	height: 40px;
	background-color: mediumseagreen;
	color: #fff;
	border-style: none;
	margin-top: 10px;
	cursor: pointer;
}

.footer-right > button:hover{
	box-shadow: 1px 1px 5px #fff;
}

.copyright{
	text-align: center;
}